body,
ul,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: middle;
}
.b {
  background-color: rgba(0, 0, 0, 0.5);
}
.w1358 {
  width: 1358px;
  margin: 0 auto;
}
.clearfix::before,
.clearfix::after,
.fl-child::before,
.fl-child::after {
  content: '';
  display: table;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fl-child > * {
  float: left;
}
.fr-child > * {
  float: right;
}
.head-wrap .head {
  height: 78px;
}
.head-wrap .head .head-logo {
  display: block;
  margin-top: 10px;
}
.head-wrap .head .head-nav {
  width: 55%;
  padding-top: 16px;
}
.head-wrap .head .head-nav li {
  width: 20%;
}
.head-wrap .head .head-nav li a {
  display: block;
}
.head-wrap .head .head-nav li a span {
  display: block;
  text-align: center;
}
.head-wrap .head .head-nav li a span:first-child {
  color: #fff;
  font-size: 18px;
}
.head-wrap .head .head-nav li a span:last-child {
  color: #AEAEAE;
  font-size: 12px;
}
.head-wrap .head .head-userinfo {
  position: relative;
  width: 280px;
  padding-left: 30px;
}
.head-wrap .head .head-userinfo .portrait {
  margin-top: 14px;
  width: 48px;
  height: 48px;
  background: url('../images/topfoot-spr.png') no-repeat -216px -117px;
}
.head-wrap .head .head-userinfo .portrait a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  text-align: center;
  font-size: 0;
}
.head-wrap .head .head-userinfo .portrait a img {
  width: 36px;
  border-radius: 50%;
}
.head-wrap .head .head-userinfo .hint {
  margin-left: 6px;
  line-height: 78px;
  font-size: 16px;
  color: #fefefe;
}
.head-wrap .head .head-userinfo .head-login {
  position: absolute;
  z-index: -1;
  padding-top: 78px;
  background: url('../images/dark70-bg-repeat.png');
  font-size: 12px;
  color: #848383;
  text-align: center;
}
.head-wrap .head .head-userinfo .head-login p {
  padding: 0 24px;
}
.head-wrap .head .head-userinfo .head-login p:first-of-type {
  margin-top: 30px;
  padding-top: 14px;
}
.head-wrap .head .head-userinfo .head-login p:last-of-type {
  padding-top: 14px;
}
.head-wrap .head .head-userinfo .head-login div {
  margin-top: 20px;
  line-height: 44px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
}
