body,
ul,
p,
input {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img,
a {
  vertical-align: middle;
}
input {
  outline: none;
  border: none;
}
i {
  font-style: normal;
}
.b {
  background-color: rgba(0, 0, 0, 0.5);
}
.w1358 {
  width: 1358px;
  margin: 0 auto;
}
.clearfix::before,
.clearfix::after,
.fl-child::before,
.fr-child::after {
  content: '';
  display: table;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fl-child > * {
  float: left;
}
.fr-child > * {
  float: right;
}
.show {
  display: block;
}
body {
  overflow-y: scroll;
  background-color: #eee;
}
.head-wrap {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.head-wrap .head {
  height: 78px;
}
.head-wrap .head .head-logo {
  display: block;
  margin-top: 10px;
}
.head-wrap .head .head-nav {
  width: 55%;
  padding-top: 16px;
}
.head-wrap .head .head-nav li {
  width: 20%;
}
.head-wrap .head .head-nav li a {
  display: block;
}
.head-wrap .head .head-nav li a span {
  display: block;
  text-align: center;
}
.head-wrap .head .head-nav li a span:first-child {
  color: #fff;
  font-size: 18px;
}
.head-wrap .head .head-nav li a span:last-child {
  color: #AEAEAE;
  font-size: 12px;
}
.head-wrap .head .head-userinfo {
  position: relative;
  width: 244px;
}
.head-wrap .head .head-userinfo .portrait {
  margin-top: 14px;
  width: 48px;
  height: 48px;
  background: url('../images/topfoot-spr.png') no-repeat -216px -117px;
}
.head-wrap .head .head-userinfo .portrait a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  text-align: center;
  font-size: 0;
}
.head-wrap .head .head-userinfo .portrait a img {
  width: 36px;
  border-radius: 50%;
}
.head-wrap .head .head-userinfo .hint {
  margin-left: 6px;
  line-height: 78px;
  font-size: 16px;
  color: #fefefe;
}
.head-wrap .head .head-userinfo .head-login {
  display: none;
  z-index: -1;
  position: absolute;
  width: 310px;
  margin-left: calc((310px - 244px)/-2);
  padding-top: 78px;
  background: url('../images/dark70-bg-repeat.png');
  font-size: 12px;
  color: #848383;
  text-align: center;
}
.head-wrap .head .head-userinfo .head-login p {
  padding: 0 24px;
}
.head-wrap .head .head-userinfo .head-login p:first-of-type {
  margin-top: 30px;
  padding-top: 14px;
}
.head-wrap .head .head-userinfo .head-login p:last-of-type {
  padding-top: 14px;
}
.head-wrap .head .head-userinfo .head-login div {
  margin-top: 20px;
  line-height: 44px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
}
.head-wrap .head .head-userinfo:hover > .head-login {
  display: block;
}
.head-wrap .head .head-app {
  position: relative;
  width: 40px;
  padding-right: 31px;
  line-height: 78px;
  text-align: center;
}
.head-wrap .head .head-app .head-app-icon {
  display: inline-block;
  width: 16px;
  height: 24px;
  background: url('../images/topfoot-spr.png') no-repeat -303px -84px;
}
.head-wrap .head .head-app .head-app-icon:hover + .app-download {
  display: block;
}
.head-wrap .head .head-app .app-download {
  display: none;
  position: absolute;
  top: 78px;
  left: calc((211px - 40px) / -2);
  width: 211px;
  background: url('../images/topfoot-spr.png') no-repeat;
  animation: all 0.3s;
}
.head-wrap .head .head-app .app-download .app-download-img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  margin: 16px auto 0;
  background-color: #fff;
  text-align: center;
  line-height: 120px;
}
.head-wrap .head .head-app .app-download .app-download-img img {
  width: 110px;
}
.head-wrap .head .head-app .app-download p {
  font-size: 12px;
  line-height: 36px;
  color: #cdbe91;
}
.head-wrap .head .head-app .app-download > img {
  position: absolute;
  bottom: -5px;
  right: -8px;
}
.head-wrap .head .head-search {
  width: 40px;
  height: 40px;
  margin: 17px 14px 0 0;
  line-height: 40px;
  text-align: center;
}
.head-wrap .head .head-search i {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url('../images/topfoot-spr.png') no-repeat -381px -39px;
  vertical-align: middle;
}
.head-wrap .head-search-frame {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 78px;
  background-color: #000;
}
.head-wrap .head-search-frame .head-search-content {
  width: 1358px;
  margin: auto;
}
.head-wrap .head-search-frame .head-search-content .icon {
  width: 40px;
  height: 40px;
  margin: 17px 14px 0 0;
  line-height: 40px;
  text-align: center;
  margin-right: 329px;
}
.head-wrap .head-search-frame .head-search-content .icon i {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url('../images/topfoot-spr.png') no-repeat -381px -39px;
  vertical-align: middle;
}
.head-wrap .head-search-frame .head-search-content .search-text {
  width: 363px;
  height: 40px;
  margin: 19px 200px 0 0;
  padding-left: 5px;
}
.head-wrap .head-search-frame .head-search-content .search-text input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
}
.head-wrap .head-search-frame .head-search-content .close {
  width: 40px;
  height: 40px;
  margin: 17px 6px 0 0 ;
  line-height: 40px;
  text-align: center;
}
.head-wrap .head-search-frame .head-search-content .close i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url('../images/topfoot-spr.png') no-repeat -324px -84px;
  vertical-align: middle;
}
.comm-topact {
  position: relative;
}
.comm-topact .small {
  display: none;
}
.comm-topact img {
  width: 1920px;
  margin-left: 50%;
  transform: translate(calc(1920px/-2));
}
.comm-topact .info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1358px;
}
.comm-topact .info .btn-detail {
  position: absolute;
  top: 589px;
  left: 0;
  right: 0;
  width: 160px;
  height: 40px;
  margin: auto;
  color: #0000EE;
  background: url('../images/topfoot-spr.png') no-repeat -216px -39px;
}
.comm-topact .info .version {
  position: absolute;
  top: 666px;
  right: 0;
  font-size: 14px;
  color: #F5D185;
}
.comm-topact .info .version span {
  color: #888787;
}
.comm-topact .info .version .detail {
  display: inline-block;
  width: 48px;
  line-height: 22px;
  padding: 0 15px;
  border: 2px solid #f5d185;
  border-image-source: linear-gradient(#6b5024 0px, #b88d35 100%);
  border-image-slice: 1;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.65);
}
